.sidebar {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 310px;
    max-width: 1100px;
    overflow: scroll;
    resize: horizontal;
    border-right: 1px solid $light-grey;
}
.sidebar-header {
    height: 13.4%;
    border-top: 20px solid $light-grey;
}
